html, body, #root, .App {
  height: 100%;
}

body {
  background-color: #78767c;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.NavBar {
  height: 5.5rem;
}

.Container {
  height: calc(100% - 5.5rem);
}

h1, h2 {
  font-family: "LEMON MILK", "sans-serif";
}