html, body, #root, .App {
  height: 100%;
}

body {
  background-color: #78767c;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

h1, h2 {
  font-family: "LEMON MILK", "sans-serif";
}