.NavBar {
    display: inline-flex;
    justify-content: space-around;
    background-color:#750027;
    padding: 0;
    width:100%;
}

.Splash {
    display: inline-flex;
    align-content: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0;
}

.Nav {
    display: inline-flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: space-around;
}

.Logo {
    margin: 0 0 0 1rem;
    padding: 0;
    align-self: center;
}

.NavLink {
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
    color:white;
    font-family: "LEMON MILK", "sans-serif";
    text-decoration: none;
    box-sizing: border-box;
    border-top: 0.75rem solid transparent;
    border-bottom: 0.75rem solid transparent;
}

.NavLink:hover {
    background-color: #ffdde8;
    color: #750027;
}

.NavLink:active {
    background-color: white;
    color: #750027;
}

.Title {
    margin: 0;
    padding: 0;
    font-size: 62.5px;
    align-self: center;
    color:white;
    font-family: "LEMON MILK", "sans-serif";
}

.active {
    border-bottom: 0.75rem solid white;
}